body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --pageHeight: calc(100vh - 96px);
}

.SearchPage {
  min-height: var(--pageHeight);
}

.pageTitle {
  font-size: 24px;
}

.footerText {
  font-size: 14px !important;
}

.footerText:hover {
  color: #ffffff !important;
}
